@model SportConnect.Models.Usuario

@{
    ViewData["Title"] = "Cadastrar";
}

@section HeadStyles {
    <style>
        @@media (max-width: 768px) {
            .eyeDiv {
                padding-bottom: 9px;
            }
        }

        @@media (max-width: 510px){
            #cadastro-form{
                margin: 80px 30px 80px 30px !important;
                padding: 20px 30px 20px 30px !important;
            }
        }
    </style>
}

<div style="background-color: #cccccc; min-height: 100%; display: flex; justify-content: center; align-items: center;">
    <div id="cadastro-form" class="col-md-4" style="background-color: white; width: 500px; padding: 20px 40px 20px 40px; border-radius: 20px; margin: 80px 50px 80px 50px">
        <h1 style="text-align: center; font-size: 35px; margin-bottom: 30px; margin-top: 20px;">Cadastrar</h1>
        @if (ViewData["Message"] != null)
        {
            <p style="text-align: center" class="text-danger">@ViewData["Message"]</p>
        }
        <form onsubmit="validateForm(event)" asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 20px 0px 20px 0px">
                <label asp-for="Cpf" class="control-label"></label>
                <input id="cpfInput" oninput="cpfMask(event)" asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
                <span id="cpfError" class="visually-hidden text-danger">Cpf inválido!</span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input id="emailInput" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <span id="emailError" class="visually-hidden text-danger">Email inválido!</span>
            </div>
            <div class="form-group" style="margin: 20px 0px 20px 0px">
                <label asp-for="DataDeNascimento" class="control-label"></label>
                <input asp-for="DataDeNascimento" class="form-control" />
                <span asp-validation-for="DataDeNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select onchange="getCidades()" asp-for="Estado" class="form-control" id="estado">
                    <option selected disabled hidden>Selecione um estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin: 20px 0px 20px 0px">
                <label asp-for="Cidade" class="control-label"></label>
                <select disabled asp-for="Cidade" class="form-control" id="cidade">
                    <option disabled hidden selected value="">Selecione uma cidade</option>
                </select>
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group" style="position: relative">
                <div class="eyeDiv" onclick="handlePassword(event)" style="position: absolute; right: 0px; top: 25px; cursor: pointer; height: 37px; display: flex; align-items: center; padding-right: 15px">
                    <i class="eye fa-solid fa-eye"></i>
                </div>
                <label asp-for="Senha" class="control-label"></label>
                <input id="password" asp-for="Senha" class="inputPassword form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
                <p class="equalError visually-hidden text-danger">As senhas devem ser iguais!</p>
                <p class="spaceError visually-hidden text-danger">Retire os espaços!</p>
            </div>
            <div class="form-group" style="margin-top: 20px; position: relative">
                <div onclick="handlePassword(event)" class="eyeDiv" style="position: absolute; right: 0px; top: 25px; cursor: pointer; height: 37px; display: flex; align-items: center; padding-right: 15px">
                    <i class="eye fa-solid fa-eye"></i>
                </div>
                <label for="confirmarSenha" class="control-label">Confirmar Senha</label>
                <input type="password" id="confirmPassword" class="inputPassword form-control" />
                <span id="confirmPasswordError" class="visually-hidden text-danger">Confirme a senha!</span>
                <p class="equalError visually-hidden text-danger">As senhas devem ser iguais!</p>
                <p class="spaceError visually-hidden text-danger">Retire os espaços!</p>
            </div>
            <div class="form-group text-center" style="margin-top: 25px; margin-bottom: 15px">
                <input type="submit" value="Cadastrar" class="btn btn-primary" style="border-radius: 10px; font-size: 18px; font-weight: 600; padding: 8px 50px 8px 50px" />

                <div style="margin-top: 20px">
                    <p class="m-0 text-center">Já possui uma conta?</p>
                    <a asp-controller="Usuarios" asp-action="Login" class="m-0 text-center" style="color: #2081F9; cursor: pointer; text-decoration: none">Faça o login!</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    const estado = document.getElementById("estado")

    window.onload = () => {
        estado.value = "Selecione um estado"
    }

    const getCidades = async () => {
        if(estado.value != "Selecione um estado"){
            const result = await fetch(`https://servicodados.ibge.gov.br/api/v1/localidades/estados/${estado.value}/municipios?orderBy=nome`)
            const output = await result.json()

            const cidade = document.getElementById("cidade")
            var cidadesHtml

            output.forEach((element) => {
                cidadesHtml += `<option value="${element.nome}">${element.nome}</option>`
            })

            cidade.innerHTML = cidadesHtml
            cidade.disabled = false
        }
    }

    const handlePassword = (e) => {
        const eyesDiv = document.getElementsByClassName("eyeDiv")
        const eyes = document.getElementsByClassName("eye")
        const inputPassword = document.getElementsByClassName("inputPassword")

        if([...eyesDiv].indexOf(e.target) != -1){
            if(inputPassword[[...eyesDiv].indexOf(e.target)].type == "password"){
                inputPassword[[...eyesDiv].indexOf(e.target)].type = "text"
                eyes[[...eyesDiv].indexOf(e.target)].classList.remove("fa-eye")
                eyes[[...eyesDiv].indexOf(e.target)].classList.add("fa-eye-slash")
            }
            else{
                inputPassword[[...eyesDiv].indexOf(e.target)].type = "password"
                eyes[[...eyesDiv].indexOf(e.target)].classList.remove("fa-eye-slash")
                eyes[[...eyesDiv].indexOf(e.target)].classList.add("fa-eye")
            }
        }
        else if([...eyes].indexOf(e.target) != -1){
            if(inputPassword[[...eyes].indexOf(e.target)].type == "password"){
                inputPassword[[...eyes].indexOf(e.target)].type = "text"
                eyes[[...eyes].indexOf(e.target)].classList.remove("fa-eye")
                eyes[[...eyes].indexOf(e.target)].classList.add("fa-eye-slash")
            }
            else{
                inputPassword[[...eyes].indexOf(e.target)].type = "password"
                eyes[[...eyes].indexOf(e.target)].classList.remove("fa-eye-slash")
                eyes[[...eyes].indexOf(e.target)].classList.add("fa-eye")
            }
        }
    }

    const cpfMask = (v) => {
        if(v.target.value.length < 15){
            v.target.value = v.target.value.replace(/\D/g,"")
            v.target.value = v.target.value.replace(/(\d{3})(\d)/,"$1.$2")
            v.target.value = v.target.value.replace(/(\d{3})(\d)/,"$1.$2")
            v.target.value = v.target.value.replace(/(\d{3})(\d{1,2})$/,"$1-$2")
        }
        else{
            v.target.value = v.target.value.slice(0, -1)
        }
    }

    const emailMask = (email) => {
        const regex = /.+@@.+\.[A-Za-z]+$/

        if(regex.test(email)){
            return true
        }

        else{
            return false
        }
    }

    const validateForm = (e) => {
        const confirmPassword = document.getElementById("confirmPassword").value
        const email = document.getElementById("emailInput").value
        const password = document.getElementById("password").value
        const cpf = document.getElementById("cpfInput").value

        const emailError = document.getElementById("emailError")
        const cpfError = document.getElementById("cpfError")
        const confirmPasswordError = document.getElementById("confirmPasswordError")
        const equalError = document.getElementsByClassName("equalError")
        const spaceError = document.getElementsByClassName("spaceError")

        for(let i = 0; i < equalError.length; i++){
            equalError[i].classList.add("visually-hidden")
            spaceError[i].classList.add("visually-hidden")
        }

        cpfError.classList.add("visually-hidden")
        confirmPasswordError.classList.add("visually-hidden")
        emailError.classList.add("visually-hidden")

        if(confirmPassword == ""){
            e.preventDefault()
            confirmPasswordError.classList.remove("visually-hidden")
        }

        if(emailMask(email) == false && email != ""){
            e.preventDefault()
            emailError.classList.remove("visually-hidden")
        }

        if(password != confirmPassword && password != "" && confirmPassword != ""){
            e.preventDefault()

            for(let i = 0; i < equalError.length; i++){
                equalError[i].classList.remove("visually-hidden")
            }
        }

        if(password == confirmPassword && password.includes(" ")){
            e.preventDefault()

            for(let i = 0; i < equalError.length; i++){
                spaceError[i].classList.remove("visually-hidden")
            }
        }

        if(cpf.length < 14 && cpf != ""){
            e.preventDefault()
            cpfError.classList.remove("visually-hidden")
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
