@model SportConnect.Models.Evento

@{
    ViewData["Title"] = "Criar Evento";
}
<style>
    .form-group {
        border-radius: 12px;
    }

    .form-control {
        border-radius: 12px;
    }

    .btn {
        border-radius: 12px;
    }
</style>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<div class="container">
    <h1>Criar Evento</h1>

    <form asp-action="Create" method="post" class="row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao"></label>
                @*<input asp-for="Descricao" class="form-control" />*@
                <textarea asp-for="Descricao" class="form-control" rows="4"
                          placeholder="Descreva os detalhes do evento, como horário, local e o que levar..."></textarea>

                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade"></label>
                <input asp-for="Cidade" class="form-control" id="cidade" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro"></label>
                <input asp-for="Bairro" class="form-control" id="bairro" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rua"></label>
                <input asp-for="Rua" class="form-control" id="rua" />
                <span asp-validation-for="Rua" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Numero"></label>
                <input asp-for="Numero" class="form-control" id="numero" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>

            <!-- Inputs escondidos para salvar as coordenadas -->
            <input type="hidden" asp-for="Latitude" id="Latitude" />
            <input type="hidden" asp-for="Longitude" id="Longitude" />
            <input type="hidden" asp-for="GrupoId" />
        </div>



        <div id="map" style="height: 350px; margin-top: 20px; border-radius: 10px;" class="col"></div>

        <div class="form-group mt-3">

            @* <input type="submit" value="Criar" class="btn btn-primary" />        *@
            <button type="submit" class="btn btn-primary">Criar</button>

            @* <a asp-action="Index" class="btn btn-danger">Cancelar</a> *@
            <a href="@Url.Action("Index", "Eventos", new { grupoId = @Model.GrupoId })" class="btn btn-danger ">Cancelar</a>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        var map = L.map('map').setView([-15.7801, -47.9292], 4); // Brasil central
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var marker;

        async function atualizarMapa() {
            const rua = document.getElementById("rua").value;
            const numero = document.getElementById("numero").value;
            const bairro = document.getElementById("bairro").value;
            const cidade = document.getElementById("cidade").value;

            if (rua && numero && bairro && cidade) {
                const endereco = `${rua}, ${numero}, ${bairro},${cidade},MG, Brasil`;
                const url = `https://api.opencagedata.com/geocode/v1/json?q=${encodeURIComponent(endereco)}&key=d22bff7a5feb475e9bc22789f51e6a89`;

                const response = await fetch(url);
                const data = await response.json();


                if (data.results && data.results.length > 0) {
                    const lat = data.results[0].geometry.lat;
                    const lng = data.results[0].geometry.lng;

                    document.getElementById("Latitude").value = lat;
                    document.getElementById("Longitude").value = lng;

                    if (marker) map.removeLayer(marker);
                    marker = L.marker([lat, lng]).addTo(map);
                    map.setView([lat, lng], 15);
                }
            }
        }

        document.querySelectorAll("#rua, #numero, #bairro, #cidade").forEach(el => {
            el.addEventListener("blur", atualizarMapa);
        });
    </script>
}
